{% extends 'base.html.twig' %}

{% block title %}Hello YoutubevideoController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    {{ form(form) }}

    {% for video in videos %}
        <p>{{ video.name }}</p>
    {% endfor %}
</div>
{% endblock %}
